@import "tailwindcss";

@theme {
  --font-serif: "New York", ui-serif, "Source Serif 4", "Georgia", "Times New Roman", serif;
}

@layer base {
  html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    @apply font-serif text-gray-800 bg-[#EEECE1];
  }
}
